.App {
  text-align: center;
  height: 200vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header{
  margin-right: 70%;
}

.h1{
  color: red;
  font-family: 'sans-serif';
}

.Nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  list-style-type: none;
  
}

.h5{
  color: red;
  margin-left: 55%;
}

.h3{
  color: slategray;
  display: flex;
  font-size:70px ;

}

.Footer ul{
  font-size: 14px;
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  list-style-type: none;

}
.P{
  margin-right: 78%;
}